/*глобальные переменные и палитра*/
:root {
    --border-color: #000000;
    --background-color: #ffffff;
    --background-box-title: #d0d0d0;
    --blue0: #ccfcff;
    --blue1: #b2f9fd;
    --blue2: #00f4ff;
    --blue3: #25c6ce;
    --blue4: #18989f;
    --grey0: #e0e0e0;
    --grey1: #c2c2c2;
    --grey2: #9d9d9d;
    --grey3: #525252;
    --grey4: #333333;
    --border-width: 3px;
    --header-height: 65px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}





/*элементы верхней части окна*/
header {
    height: var(--header-height);
    border-bottom: var(--border-width) solid var(--grey3);
    background-color: var(--grey2);
    padding-left: 100px;
    display: block;
}
.github-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}
.menu {
    position: absolute;
    top: 0;
    left: 900px;
    width: 500px;
    height: var(--header-height);
    display: block;
}
.menu ul {
    margin: 0;
    line-height: var(--header-height);
}
.menu ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
}
.menu ul li:hover {
    border-radius: 15px;
    font-weight: bold;
    background-color: var(--grey1);
    transition: background-color .125s ease-in;
}
.menu ul li.selected {
    border-radius: 15px;
    font-weight: bold;
    background-color: var(--grey1);
}





/*Profile*/
header .button-wrapper {
    position: absolute;
    top: 3px;
    height: 50px;
    width: 50px;
    left: 20px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-icon:hover {
    background-color: var(--blue2);
    transition: background-color .125s ease-in;
    border-color: var(--grey4);
}

.profile-icon .profile-check {
    display: none;
}

.profile {
    position: absolute;
    height: calc(100vh - var(--header-height) - 2 * var(--border-width));
    top: var(--header-height);
    left: 0;
    width: 330px;
    background-color: var(--grey0);
    display: none;
    z-index: 1;
    border-top: var(--border-width) solid var(--grey3);
    border-right: var(--border-width) solid var(--grey3);
    border-bottom: var(--border-width) solid var(--grey3);
    border-bottom-right-radius: 30px;
}
/*потом прикручу функциональность*/
.day-night-mode-label {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 10px;
    cursor: pointer;
    font-size: 11px;
    height: 25px;
    width: 50px;
    border: var(--border-width) solid var(--grey3);
    border-radius: 50px;

    .day-night-checkbox {
        display: none;
    }
    & input:checked ~ .control {
        background-color: var(--blue4);
        &::before {
            background: var(--blue4);
            left: calc(50px - (20px * 1.4) - 2px);
            transform: scale(1);
        }
        &::after {
            background: white;
            left: calc(50px - 20px - 2px);
        }
    }
    .control {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 50px;
        border-radius: 50px;
        background-color: var(--blue1);
        transition: background-color .125s ease-in;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 0;
            border-radius: 50%;
            transform: scale(0);
            background: var(--grey3);
            z-index: 5;
            transition: all .125s ease-in;
        }

        &::after {

            content: "";
            position: absolute;
            left: 2px;
            top: 2px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fff89e;
            transition: all .125s ease-in;
        }
    }
}





/*Home screen*/
.home {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: none;
}





/*Terminal screen*/
.terminal {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: none;
}





/*Metrics screen*/
.metrics {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: none;
}





/*Constructor screen*/
.constructor {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
}
.layer-data{
    position: absolute;
    height: 300px;
    width: 300px;
    top: var(--header-height);
    right: 0px;
    background-color: var(--grey0);
    display: none;
    z-index: 1;
    border-top: var(--border-width) solid var(--grey3);
    border-left: var(--border-width) solid var(--grey3);
    border-bottom: var(--border-width) solid var(--grey3);
    border-bottom-left-radius: 30px;
}

.col {
    display: block;
    overflow: hidden;
    align-content: center;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: var(--border-width) solid var(--grey3);
    background-color: var(--grey1);
}

.button-wrapper{
    text-align: center;
    background-color: var(--blue1);
    color: black;
    cursor: pointer;
    border: var(--border-width) solid var(--grey3);
    border-radius: 30px;
    & input{
        display: none;
    }
}
.button-wrapper:hover{
    font-weight: bold;
    background-color: var(--blue2);
    transition: background-color .125s ease-in;
    border-color: var(--grey4);
}

.col .button-wrapper{
    display: block;
    position: relative;
    padding-top: 10px;
    top: 0px;
    left: calc((300px - 80px - var(--border-width) * 2) / 2);
    height: 30px;
    width: 80px;
    font-size: 18px;
}
.predict-interface {
    position: relative;
    text-align: center;
    padding: 10px;
    height: 105px;
    width: 200px;
    left: calc((300px - 200px - var(--border-width) * 2 - 20px) / 2);
    top: 10px;
    background-color: white;
    border: var(--border-width) solid var(--grey3);
    border-radius: 15px;
    display: none;
    margin: 10px 0;
}
.predict-interface .button-wrapper{
    display: block;
    position: relative;
    padding-top: 10px;
    top: 15px;
    left: 58px;
    height: 30px;
    width: 80px;
    font-size: 18px;
}

.x-val-label {
    padding-right: 5px;
}

.form-control-x {
    width: 50px;
    position: relative;
    left: 0;
    display: inline-block;
}

.y-val-label {
    padding-left: 10px;
}

.form-control-y {
    width: 50px;
    position: relative;
    left: 5px;
    display: inline-block;
}

.predict-result-wrapper{
    position: relative;
    text-align: center;
    padding: 10px;
    height: 105px;
    width: 200px;
    left: calc((300px - 200px - var(--border-width) * 2 - 20px) / 2);
    top: 85px;
    background-color: white;
    border: var(--border-width) solid var(--grey3);
    border-radius: 15px;
    display: none;
    margin: 10px 0;
}





/* Editing Drawflow */
.drag-drawflow {
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 50px;
    text-align: center;
    border: var(--border-width) solid var(--grey3);
    background-color: var(--grey0);
    border-radius: 15px;
    left: 20px;
    top: 10%;
    cursor: move;
}

.btn-clear {
    float: right;
    position: absolute;
    bottom: 60px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.swal-wide {
    width: 80% !important;
}

.btn-lock {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 140px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
}

.bar-zoom {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
}

.bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
    padding-left: 0px;
}

#drawflow {
    position: relative;
    width: calc(100vw - 301px);
    height: calc(100vh - var(--header-height) - 4px);
    top: 0px;
    background: var(--background-color);
    background-size: 25px 25px;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }
    .col .drag-drawflow span {
        display: none;
    }
    #drawflow {
        width: calc(100vw - 51px);
    }
}

.drawflow .drawflow-node {
    background: var(--grey0);
    border: var(--border-width) solid var(--grey2);
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 0 2px 15px 2px var(--blue4);
    box-shadow: 0 2px 15px 2px var(--blue4);
    padding: 0px;
    width: 200px;
    height: 50px;
}

.drawflow .drawflow-node.selected {
    background: var(--blue0);
    border: var(--border-width) solid var(--grey2);
    -webkit-box-shadow: 0 2px 20px 2px var(--blue3);
    box-shadow: 0 2px 20px 2px var(--blue3);
}

.drawflow .connection .main-path {
    stroke: var(--blue2);
    stroke-width: 3px;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid var(--border-color);
}

.drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
    background: var(--blue4);
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: white;
}

.drawflow > .drawflow-delete {
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
    border: 2px solid #4ea9ff;
    background: white;
    color: #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
}

.drawflow-node .layer {
}

.drawflow .layer svg {
    position: initial;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;

}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
    fill: #4ea9ff;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}