Build/
build/

# Large-files
zip-examples
model_data

# IDE
.vscode
.idea
*.xcodeproj

# MacOS
.DS_Store
.AppleDouble
.LSOverride
*.entitlements

# Javascript
package-lock.json
node_modules

# Python
__pycache__/
*.py[cod]
*$py.class
.cache
.venv
images/

# Flask stuff:
instance/
.webassets-cache
.db

# Tests
.pytest_cache
.coverage
htmlcov

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# C++
*.slo
*.lo
*.o
*.obj
*.exe
*.out
*.app

# Makefile
install
bin
*.patch
