/*Палитра: https://colorhunt.co/palette/eee2deea906cb313122b2a4c*/

body {
    margin: 0; /* Убираем внешние отступы у body */
    padding: 0; /* Убираем внешний отступ у body */
    overflow: hidden; /* Убираем прокрутку страницы, если контент слишком большой */
    font-family: "JetBrains Mono", monospace;
}

.container {
    width: 100%; /* Растягиваем div на всю ширину экрана */
    height: 100vh; /* Растягиваем div на всю высоту экрана */
    background-color: #4b4f70; /* Цвет заливки div */
    display: flex;
    justify-content: center; /* Выравниваем по горизонтали по центру */
    align-items: center; /* Выравниваем по вертикали по центру */
}

.logo {
    position: sticky;
    top: 0;
}

.logo_text {
    color: white;
    font-size: 2.5rem;
}

.login_container {
    width: 500px;
    height: 300px;
    background-color: #586db2;
}

.content {
    overflow: hidden;
    width: 500px;
    position: sticky;
    top: 0;
    text-align: center;
}

.divider {
    margin-bottom: 50px;
}

/*Кнопки для переключения режимов Log-in / Регистрация */
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login-choose {
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
}

.signup-choose {
    width: 95px;
}

.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}

.form-section-move {
    left: -500px;
}

.login-box {
    font-size: 13px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
}

.signup-box {
    font-size: 13px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

input {
    font-family: "JetBrains Mono", monospace;
    width: 93%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow:
        inset 0 -5px 45px rgba(100, 100, 100, 0.2),
        0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}

input:focus {
    box-shadow:
        inset 0 -5px 45px rgba(100, 100, 100, 0.4),
        0 1px 1px rgba(255, 255, 255, 0.2);
}

.services_buttons {
    padding: 10px;
}

.login_button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.service-btn {
    width: 55px;
    background-color: #eb6b56;
}

.service-btn:hover {
    width: 45px;
    background-color: #dc482f;
}

.service-btn:active {
    width: 43px;
    background-color: #dc482f;
    box-shadow: inset 3px 3px 3px #792112;
}

.link {
    font-family: "JetBrains Mono", monospace;
    color: #1a264d;
    text-decoration: none;
}

.link:hover {
    font-family: "JetBrains Mono", monospace;
    color: #849aec;
    text-decoration: none;
}
.error-area {
    color: #dc482f;
}

.error-alert {
    color: #dc482f;
}
