@import "palette.css";

html,
body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

/* Уведомления */
.notification {
    display: none;
    position: absolute;
    text-align: center;
    top: calc(var(--header-height) + 50px);
    right: 50px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    z-index: 2;
    color: var(--text-color);
    font-size: 20px;
    border-radius: var(--border-radius);
    &#success {
        background-color: var(--notification-color-success);
        border: var(--border-width) solid
            var(--notification-color-success-border);
    }
    &#error {
        background-color: var(--notification-color-fail);
        border: var(--border-width) solid var(--notification-color-fail-border);
    }
}

/*элементы верхней части окна*/
h2 {
    font-size: 40px;
    margin-top: 10px;
    color: var(--text-color);
    font-weight: bold;
    /*text-shadow: 2px 2px 3px var(--color4);*/
}
header {
    height: var(--header-height);
    border-bottom: var(--border-width) solid var(--background3);
    background-color: var(--background2);
    padding-left: 100px;
    display: block;
    color: var(--text-color);
}
.github-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--text-color);
}
.menu {
    position: absolute;
    top: 0;
    right: 100px;
    width: 500px;
    height: var(--header-height);
    display: block;
}
.menu ul {
    margin: 0;
    line-height: var(--header-height);
}
.menu ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: var(--background2);
}
.menu ul li:hover {
    border-radius: var(--border-radius);
    font-weight: bold;
    background-color: var(--background1);
    box-shadow: inset 3px 3px 3px var(--background0);
    transition:
        background-color 0.125s ease-in,
        box-shadow ease-in 0.125s;
}
.menu ul li.selected {
    border-radius: var(--border-radius);
    font-weight: bold;
    background-color: var(--background1);
    box-shadow: inset 3px 3px 3px var(--background0);
}

/*Profile*/
header .button-wrapper {
    position: absolute;
    top: 3px;
    height: 50px;
    width: 50px;
    left: 20px;
    overflow: hidden;
    border-radius: 50%;
    color: var(--text-color);
    box-shadow: inset 3px 3px 5px var(--color0);
    text-shadow: 2px 2px 3px var(--color4);
}
.profile-icon:hover {
    background-color: var(--color2);
    transition: background-color 0.125s ease-in;
    border-color: var(--background4);
}

.profile-icon .profile-check {
    display: none;
}

.profile {
    position: absolute;
    height: calc(100vh - var(--header-height) - 2 * var(--border-width));
    top: var(--header-height);
    color: var(--text-color);
    left: 0;
    width: 330px;
    background-color: var(--background0);
    display: none;
    z-index: 1;
    border-top: var(--border-width) solid var(--background3);
    border-right: var(--border-width) solid var(--background3);
    border-bottom: var(--border-width) solid var(--background3);
    border-bottom-right-radius: 30px;
    /*box-shadow: inset 0px 2px 3px var(--background3);*/
    .button-wrapper {
        padding: 8px;
        margin-top: 20px;
        margin-left: 110px;
        font-size: 20px;
        width: 110px;
    }
}

/*Home screen*/
.home {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: none;
}
.background {
    position: absolute;
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - var(--header-height) + var(--border-width));
    top: calc(var(--header-height) + var(--border-width));
}
.nn-block {
    position: relative;
    margin: 20px 15px 15px 20px;
    height: 250px;
    width: 250px;
    text-align: center;
    align-content: center;
    display: inline-grid;
    justify-content: center;
    background-color: var(--background1);
    box-shadow:
        inset 3px 3px 3px var(--background-color),
        3px 3px 3px var(--background2);
    border: var(--border-width) solid var(--background3);
    border-radius: 30px;
    overflow: hidden;
    .button-wrapper {
        margin-top: 15px;
        display: inline-grid;
        position: relative;
        place-self: center;
        padding-top: 10px;
        height: 30px;
        width: 80px;
        font-size: 18px;
    }
    .text-wrapper {
        text-align: center;
        padding: 10px 30px;
        border: var(--border-width) solid var(--background3);
        border-radius: 15px;
        background-color: var(--background-color);
        box-shadow: inset 3px 3px 3px var(--background0);
    }
}
#new-nn {
    background-color: var(--background0);
}

/*Terminal screen*/
.terminal {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: none;
}

/*Metrics screen*/
.metrics {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: none;
}

/*Constructor screen*/
.constructor {
    color: var(--text-color);
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
}
.layer-data {
    position: absolute;
    height: 300px;
    width: 300px;
    top: var(--header-height);
    right: 0px;
    background-color: var(--background0);
    display: none;
    z-index: 2;
    border-top: var(--border-width) solid var(--background3);
    border-left: var(--border-width) solid var(--background3);
    border-bottom: var(--border-width) solid var(--background3);
    border-bottom-left-radius: 30px;
}

.col {
    display: block;
    overflow: hidden;
    align-content: center;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: var(--border-width) solid var(--background3);
    background-color: var(--background1);
}

.button-wrapper {
    font-weight: bold;
    text-align: center;
    background-color: var(--color4);
    color: var(--text-color);
    cursor: pointer;
    border: var(--border-width) solid var(--background3);
    border-radius: var(--border-radius);
    & input {
        display: none;
    }
}
.button-wrapper:hover {
    background-color: var(--color1);
    transition: background-color 0.125s ease-in;
    border-color: var(--background4);
}
.button-wrapper:active {
    box-shadow: inset 3px 3px 3px var(--color2);
}

.button-wrapper:disabled,
.button-wrapper[disabled] {
    font-weight: bold;
    background-color: var(--disable-color);
    border-color: var(--background4);
}

.col .button-wrapper {
    display: block;
    position: relative;
    padding-top: 10px;
    top: 0px;
    left: calc((300px - 80px - var(--border-width) * 2) / 2);
    height: 30px;
    width: 80px;
    font-size: 18px;
}

.predict-train-interface {
    position: relative;
    left: calc((300px - 250px - var(--border-width) * 2) / 2);
    top: 10px;
    width: 250px;
    .button-wrapper {
        display: block;
        position: relative;
        align-self: center;
        left: calc((250px - 80px) / 2);
        height: 30px;
        width: 80px;
        font-size: 18px;
    }
    &#train {
        display: block;
    }
    &#predict {
        display: none;
    }
}

.predict-train-form {
    text-align: center;
    padding: 10px;
    height: fit-content;
    width: calc(230px - var(--border-width) * 2);
    background-color: var(--background-color);
    border: var(--border-width) solid var(--background3);
    border-radius: var(--border-radius);
    margin: 10px 0;

    font-size: 23px;
    .x-val-label {
        padding-right: 5px;
    }
    .form-control-x {
        width: 30px;
        position: relative;
        left: 0;
    }
    .y-val-label {
        padding-left: 10px;
    }
    .form-control-y {
        width: 30px;
        position: relative;
        left: 5px;
    }
    .res-val-label {
        padding-left: 10px;
    }
    .form-control-res {
        width: 30px;
        position: relative;
        left: 5px;
    }

    & input {
        background-color: var(--background-color);
        border: 1px solid var(--text-color);
        color: var(--text-color);
    }
}

.predict-result-wrapper {
    position: relative;
    padding: 10px;
    height: fit-content;
    width: 200px;
    overflow: hidden;
    left: calc((300px - 250px - var(--border-width) * 2 - 10px) / 2);
    background-color: var(--background-color);
    border: var(--border-width) solid var(--background3);
    border-radius: var(--border-radius);
    display: none;
    margin: 10px 0;
    font-size: 23px;
    .form-control-res {
        width: 200px;
        position: relative;
        display: inline-block;
        overflow-x: scroll;
    }
}

/* Editing Drawflow */
.drag-drawflow {
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border: var(--border-width) solid var(--background3);
    background-color: var(--background0);
    border-radius: var(--border-radius);
    box-shadow: inset 3px 3px 3px var(--background-color);
    left: 20px;
    top: 10%;
    cursor: move;
}
.btn-save {
    float: right;
    position: absolute;
    bottom: 60px;
    right: 80px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.btn-clear {
    float: right;
    position: absolute;
    bottom: 60px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.swal-wide {
    width: 80% !important;
}

.btn-lock {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 140px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
}

.bar-zoom {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
}

.bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
    padding-left: 0px;
}

#drawflow {
    position: relative;
    width: calc(100vw - 301px);
    height: calc(100vh - var(--header-height) - 4px);
    top: 0px;
    background: var(--background-color);
    background-size: 25px 25px;
    background-image: linear-gradient(
            to right,
            var(--gradient-color) 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, var(--gradient-color) 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }
    .col .drag-drawflow span {
        display: none;
    }
    #drawflow {
        width: calc(100vw - 51px);
    }
}

.drawflow .drawflow-node {
    color: var(--text-color);
    background: var(--background0);
    border: var(--border-width) solid var(--background3);
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 20px;
    -webkit-box-shadow: 0 2px 15px 2px var(--color4);
    box-shadow:
        0 2px 15px 2px var(--color4),
        inset 3px 3px 3px var(--background-color);
    padding: 0px;
    width: 200px;
    height: 50px;
}

.drawflow .drawflow-node.selected {
    background: var(--color0);
    border: var(--border-width) solid var(--background2);
    -webkit-box-shadow: 0 2px 20px 2px var(--color3);
    box-shadow: 0 2px 20px 2px var(--color3);
}

.drawflow .connection .main-path {
    stroke: var(--color2);
    stroke-width: var(--connection-width);
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid var(--border-color);
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
    background: var(--color4);
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: white;
}

.drawflow > .drawflow-delete {
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
    border: 2px solid #4ea9ff;
    background: white;
    color: #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
}

.drawflow-node .layer {
}

.drawflow .layer svg {
    position: initial;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
    fill: #4ea9ff;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}
